.codemap
python practice/02_Pandas/data/game_logs.csv
Course_CV/Week11/alexnet
Course_CV/Week11/cifar
Course_CV/Week11/vgg-16
Course_CV/Week12/demo
Course_NLP/Week4/demo
Course_NLP/Week6/demo/bert-base-chinese
Course_CV/Week13/demo/faster-rcnn-keras-master
Course_CV/Week14/demo/yolo3-tensorflow-master
Course_CV/Week15/demo/mask-rcnn-keras-master
Course_CV/Week16/demo/dcmtracking-master
Course_CV/Week16/demo/pytorch-openpose-master
Course_CV/Week16/demo/Unet-Pytorch-master
Course_CV/Week16/demo/yolov5/yolov5s.pt
Course_NLP/Week7/demo/bayes & svm/model.w2v